* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.container__button{
    width: 40%;
    margin: 50px 10px;
}

.container__button h3{
    text-align: left;
}

.container__information{
    width: 60%;
    margin: 40px 10px;
}

.exercise__title{
    display: flex;
    font-size: 30px;
}

.exercise__title i{
    text-align: center;
    margin: auto 0;
    padding-right: 10px;
}

.exercise__title p{
    text-align: center;
    margin: auto 0;
}

#name{
    width: 100%;
}
